<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>My Notes</title>
  </head>

  <body>
    <div class="header-note">
      <h1>Hi, <%= user %></h1>
      <form action="/logout" method="POST" style="padding: 0">
        <button type="submit" style="font-size: 0.8em">logout</button>
      </form>
    </div>
    <a
      style="
        text-align: left;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
      "
      href="/addnote"
      ><img
        style="margin-right: 6px"
        src="https://img.icons8.com/material-outlined/24/000000/note.png"
      />
      Add Note</a
    >
    <ul>
      <% notes.map(e=> { %>
      <li>
        <h1><%= e.title %></h1>
        <p class="date"><%= new Date(e.createdAt).toDateString() %></p>
        <p><%= e.content %>...</p>
        <a href="/note/<%= e.id %> ">View Note</a>
      </li>
      <% }) %>
    </ul>
    <% if (notes.length === 0) { %>
    <p
      style="
        text-align: center;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
      "
    >
      Note Empty
    </p>
    <% } %>
  </body>
</html>
